@import 'styles'

.palette-1 {
    --palette-1-silver-lake-blue: rgba(106, 141, 191, 1);
    --palette-1-glaucous: rgba(94, 126, 175, 1);
    --palette-1-true-blue: rgba(81, 111, 160, 1);
    --palette-1-lapis-lazuli: rgba(69, 96, 144, 1);
    --palette-1-yinmn-blue: rgba(57, 81, 128, 1);
    --palette-1-marian-blue: rgba(44, 66, 113, 1);
    --palette-1-delft-blue: rgba(32, 51, 97, 1);
}
  
.palette-2 {
    --palette-2-light-pink: rgba(242, 190, 203, 1);
    --palette-2-carnation-pink: rgba(241, 137, 167, 1);
    --palette-2-pink: rgba(231, 84, 124, 1);
    --palette-2-fandango: rgba(190, 49, 98, 1);
    --palette-2-raspberry: rgba(143, 26, 65, 1);
    --palette-2-black-olive: rgba(61, 50, 47, 1);
    --palette-2-cool-black: rgba(30, 29, 36, 1);
}



#kibram_logo {
    background-color: #ffffff;
    background-image: linear-gradient(to right, $silver-lake-blue, $glaucous, $true-blue, $lapis-lazuli, $yinmn-blue, $marian-blue, $delft-blue);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
